@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .primary-button {
    @apply rounded-lg shadow-md p-2;

    background: linear-gradient(180deg, #fffaea 0%, #ffe57f 63%, #ffcc00 100%);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  }

  .secondary-button {
    @apply text-white rounded-lg p-2;

    background: #0053a6;
  }
}
