@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .primary-button {
    @apply rounded-lg shadow-md font-bold py-3 px-6 font-oswald;

    background: linear-gradient(101deg, #fff5d1 -158.65%, #ffd323 134.31%);
    color: #0053a6;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.25) inset;
  }

  .secondary-button {
    @apply text-white rounded-lg p-3;

    background: #0053a6;
  }

  .tertiary-button {
    @apply text-white rounded-lg p-3;

    color: #263238;
    background: #eceff1;
  }

  .input-box {
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.16) inset;
    border-radius: 4px;
  }

  .container-margin-x {
    @apply mx-5 sm:mx-10 md:mx-20 xl:mx-40 2xl:mx-60;
  }

  .container-padding-x {
    @apply px-5 sm:px-10 md:px-20 xl:px-40 2xl:px-60;
  }
}

/* vehicle detail page images */
.image-gallery-thumbnail {
  @apply rounded-lg overflow-hidden h-full w-52 !important;
}

.image-gallery-image {
  @apply rounded-lg overflow-hidden !important;
}

.select-wrapper {
  position: relative;
}

.select-wrapper > select {
  -webkit-appearance: none;
  appearance: none;
}

.select-wrapper::after {
  content: url("/icons/CaretUp.svg");
  font-size: 1rem;
  top: 30px;
  right: 10px;
  position: absolute;
  transform: rotate(180deg);
}
