.navbarGradient {
  background: var(--1256, linear-gradient(180deg, #447dad 0%, #0f3760 100%));
}

.formGradient {
  background: #00669e;

  /* Box */
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.12);
}

.title {
  text-shadow: 0px 7px 3px rgba(0, 0, 0, 0.8);
}

.sliderCard {
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.12);
}

.page {
  border: 1px solid #f2f2f2;
  background: linear-gradient(180deg, #fff 0%, #f9f9f9 100%);
}

.active {
  background: #0053a6;
  color: #fff;
}

.featuredCardShadow {
  border-radius: 6px;
  background: #fff;

  /* Box */
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.12);
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
